.body{
  font-family: 'Poppins'
}
.container {
  background-color: white;
  height: fit-content;
}

.navigation-bar {
  display: flex;
  gap: 20px;
}
.navigation-bar li {
  list-style-type: none;
  font-weight: 600;
  font-size: 22px;
  font-family: 'Poppins'
}

.contact-header {
  display: flex;
  gap: 30px;
  align-items: center;
}
.contact-header li {
  list-style-type: none;
  font-weight: 600;
  font-size: 22px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.contact-header {
  font-weight: 600;
  font-size: 22px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.togglebtn {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: transparent;
  padding: 20px;
}
.section1{
  height: fit-content;
  display: flex;
  justify-content: space-between;
  margin: 40px 0px;
  gap: 20px;
}
.section1 h1{
  font-size: 4vw;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height:80px;
  color: #2E2E2E;
  margin: 30px 0px;
}
.lemonwares h1{
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height:80px;
  color: #2E2E2E;
  margin: 10px 0px;
}
.section1 h5{
  font-size:18px ;
  font-weight: 400;
  color: #808080;
  line-height:25px;
}
.lemonwares h5{
  font-size:24px ;
  font-weight: 400;
  color: black;
  line-height:25px;
}
.section1 button{
  width: 160px;
  padding: 12px;
  border-radius: 10px;
  font-size: 16px;
}
.partners{
  height: fit-content;
  display: flex;
  justify-content: space-between;
  margin: 60px 0px;
  gap: 20px;
}

.partners h1{
  font-size: 3vw;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height:80px;
  color: #2E2E2E;
  margin: 30px 0px;
}
.partners h5{
  font-size:22px ;
  font-weight: 400;
  color: #18191F;
}
.partners1{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  
}
.partners1 img{
  height: 50px;
  width: 150px;
  object-fit: contain;
  
}

.features{
  display: flex;
  flex-flow: row wrap;
  gap: 50px;
  text-align: center;
  justify-content: center;

}

.features .box{
height:fit-content;
width:260px;
display:flex ;
flex-direction: column;
}

.box h3{
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 5px 0px;
}

.lemonwares{
  margin: 60px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.packages{
  margin: 60px 0px;
  display: flex;
  flex-flow: row wrap;
  gap: 50px;
  text-align: center;
  justify-content: center;
}

.packagecards {
  width: 250px;
  border: 1.5px solid #C4C4C4;
  border-radius: 10px;
  height: fit-content;
  padding: 40px;
  text-align: start;
}


/* package cards  */

.packagecards h2{  
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 42px;
  margin: 5px 0px 0px 0px;

}
.packagecards h3{ font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 28px;
  margin: 2px 0px;
}
.packagecards h4{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 2px 0px;

}
.packagecards h5{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin: 0px 0px;
}
.packagecards button{

  margin: 30px 0px;
  width: 100%;
  height: 50px;
  border-radius: 12px;
  border: 2px solid black;
  background-color: transparent;
  font-family: "Poppins", sans-serif;

  font-weight: 600;
}

.packagesfeatures{
  font-family: "Poppins";
  font-weight: 700;
  color: #808080;
  font-size: 18px;
}


/* real stories */

.realstories{
  display: flex;
  padding: 100px;
  gap: 30px;
  margin: 0px 150px;
}
.realstories2{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.realstories1{
  
  position: relative;

}

.realstories1::before {
  content: "";
  position: absolute;
  top: -50px;
  left: -100px;
  width: 143px;
  height: 120px;
  background-image: url('Quote\ Mark.png');
  background-size: cover;
  background-position: center;
}

.realstories1 h2 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 800;
  margin: 10px 0px;
  z-index: 9999!important; 
}

.realstoriesbox1{
width: 350px;
height: fit-content;
padding: 30px 60px;
box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07); /* X Y Blur Spread Color */

}
.realstoriesbox2{
  
width: 445px;
height: fit-content;
padding: 30px 60px;
box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07); /* X Y Blur Spread Color */

}
.realstoriesbox2 h2{
  font-family: "Poppins", sans-serif;
}
.realstoriesbox3 h2{
  font-family: "Poppins", sans-serif;
}
.realstoriesbox3{
width: 350px;
height: fit-content;
padding: 30px 60px;
box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07); /* X Y Blur Spread Color */

}

.realstories1 h3{
  font-size: 18px;
}

/* switch css */

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #adb5bd;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: #B00000;
  transition: .4s;
}

input:checked + .slider {
  background-color: #B00000;
  border: 1px solid #B00000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #B00000;
}

input:checked + .slider:before {
  transform: translateX(1.4em);
  background-color: #fff;
}


@media (min-width: 750px) {
  .container {
    margin: 0px 20px;
  }

  .defaultheader {
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .mobileheader {
    display: none;
  }

 
}

@media (max-width: 750px) {
  .mobileheader {
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .defaultheader {
    display: none;
  }
  .section1{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;

  }

  .section1 h1{
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height:30px;
    color: #2E2E2E;
    margin: 5px 0px;
  }

  .lemonwares h1{
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height:30px;
    color: #2E2E2E;
    margin: 5px 0px;
  }

  .partners h1{
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height:30px;
    color: #2E2E2E;
    margin: 5px 0px;
  }
.maintopimg img{
  height: 80%;
  width: 80%;

}
.maintopimg{
  text-align: center;
  display: flex;
  justify-content: center;
}

.partners{
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px 0px;
}
.partners1{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features{
 margin-top: 70px;

}
.lemonwares{
  margin: 60px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.realstories1::before {
  display: none; /* Hide the background image on screens below 750px */
}
.realstories{
  display: flex;
  padding: 10px;
  flex-direction: column;
  margin: 0px 0px;

}



.realstories1 h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 800;
}
.realstoriesbox1{
  width: 250px;
 
  
  }
  .realstoriesbox2{
    width: 250px;
 
  
  }
  .realstoriesbox3{
  width: 250px;
 
  
  }
}

@media (min-width: 1600px) {
  .container {
    margin: 0px 250px;
  }
}

